

#title-of-chart {
  color: white;
}

.barchart-container {
  background-color: #202127;
  border: 2px solid #202127;
  border-radius: 15px;
  width: 420px;
  height: 400px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.3);
}