/* .body-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
 */

 .top-container{
  display: flex;
  padding: 75px;
  display: flex;
  justify-content: flex-start;
  /* width: 500px;
  height: 600px; */

 }

 .bottom-container{
  padding-top: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 100vh
 }