/* :root {
    --reddish-brown: #5A2A27;
    --dark-tan: #B5A886;
    --light-tan: #FAF2DB;
} */

 .table-container {
    width: 700px;
    height: 400px;
    overflow-y: auto;
    background-color: #202127;
    /* font-family: monospace; */
    font-family: 'Playfair Display', serif;
    border: 1px solid #202127;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.3);
    color: #FAF2DB;
}

::-webkit-scrollbar {
    width: 20px;
  }

::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
/* background-color: #202127; */
background-color: #d6dee1;
border-radius: 10px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
/* background-color: #d6dee1; */
background-color: #a8bbbf;
}
/* #8a9da1; */
.table-titles {
display:flex;
flex-direction: row;
padding-top:10px;
padding-left:10px;
padding-right:10px;
justify-content:space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace;
    background-color: #202127;
  
}

tr even {
    background-color: white;
  }

th {
    background-color: #202127;
    font-weight: bold;
    height: 30px;
    color: #5A2A27;
}

tr {
    height: 30px;
    text-align: center;
}

#fields {
min-width: 380px;
}

tbody {
    color: white;
    font-weight: bold;
}


.entry {
    height: 30px;
    min-width:380px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.cachebutton {
    /* background-color: #646cff; */
    background-color: #5A2A27;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cachebutton:hover{
    background-color:#fdf9f1;
    /* color: #646cff; */
    color: #5A2A27;
}