:root {
    --reddish-brown: #5A2A27;
    --dark-tan: #B5A886;
--light-tan: #FAF2DB;
}

/* Apply styling to the table container */
 .table-container {
    width: 550px;
    height: 400px;
    overflow-y: scroll;
    background-color: white;
    font-family: monospace;
    border-radius: 5px;
}

.table-titles {
display:flex;
flex-direction: row;
justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace;
    background-color: #5A2A27;
    border-radius: 5px;
}

tr even {
    background-color: white;
  }

th {
    background-color: #f2f2f2;
    /* background-color: orange; */
    font-weight: bold;
    height: 30px;
}

tr {
    height: 30px;
    /* background-color: purple; */
    text-align: center;
}

#fields {
min-width: 380px;
}

tbody {
    color: white;
    font-weight: bold;
}

/* Style the entry containers */
.entry {
    height: 30px;
    min-width:380px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.cachebutton {
    background-color: var( --reddish-brown);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}