:root {
    --reddish-brown: #5A2A27;
    --dark-tan: #B5A886;
--light-tan: #FAF2DB;
}

.wholecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.schemaButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 90%;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: thin solid;
    background-color: white;
}

#fields-title{
    font-size: 25px;
    color: #FAF2DB;
    font-family:sans-serif;
}