:root {
  --reddish-brown: #5A2A27;
  --dark-tan: #B5A886;
--light-tan: #FAF2DB;
}

.wholecontainer{
  display:flex;

}

.queryBox {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: #202127;
  border: 2px solid #202127;
  border-radius: 15px;
  gap: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.3);

  }

.graphql-query {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    background-color: #254250;
    /* font-weight: bold; */
    color: #FAF2DB;


  }

  .query {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    padding-top: 50px;
    gap: 5px;


  }

  .indent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
    gap: 5px;


  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    /* color: #B5A886; */
    color: #988558;
    font-weight: bolder;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100px

  }

  .queryButton {
    /* position: fixed; */
    background-color: #646cff;
    width: 200px;
    line-height: 38px;
    border-radius: 10px;
    border: none;
    color: #FAF2DB;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .queryButton:hover{
    background-color:#FAF2DB;
    color: #646cff;
  }