:root {
  --reddish-brown: #5A2A27;
  --dark-tan: #B5A886;
--light-tan: #FAF2DB;
}
.queryBox {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  border: thin solid white;
  background-color: white;
  border-radius: 5px;
  gap: 10px;
    /* margin-right: 200px */

  }

.graphql-query {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;

    width: 250px;
    height: 350px;
    border-radius: 5px;
    background-color: white;

    font-weight: bold;


  }

  .query {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 50px;
    gap: 5px;


  }

  .indent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
    gap: 5px;


  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    color: #B5A886;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  .queryButton {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    cursor:pointer;
    background-color: #5A2A27;
    color: white;
    border: none
  }