.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px;
  background-color: #1b1b1f;
  width: 100%;
}

  .navBarLogo img {
    width: 180px;
    height: 40px;

  }

  .navBar.noBorder {
    border-bottom: none; 
}

  .navBarLinks {
    /* margin-right: px; */
    gap: 20px;

  }

  .navBarButtons {
    /* background-color: #00131a; */
    background-color: #1b1b1f;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fdf9f1;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .navBarButtons:hover{
    color: #9499ff; 
  }
