.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

  .navBarLogo img {
    width: 180px;
    height: 40px;

  }

  .navBar.noBorder {
    border-bottom: none; 
}

  .navBarLinks {
    display: flex;
    gap: 20px;

  }

  .navBarButtons {
    /* background-color: #00131a; */
    background-color: #161618;
    color: #fdf9f1;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
