:root {
  --background-color: #29292b;
  --old-bg-color: #1b1b1f;
}

.info-container {
  /* background-color: bisque; */
  background-color: var(--background-color);
}

.main-and-img-info{
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 300px;


}
.main{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* background-color: #1b1b1f; */
  padding-top: 75px;
  padding-left: 10%;
  gap: 235px;
  
  width: 450px;
  height: 400px;
}

.title-info{
  padding-bottom: 15px;
}

.title{
  color: #FAF2DB;
  font-weight:lighter;
  font-size: 72px;
  font-family: 'Playfair Display', serif;
}

.info{
  width: 500px;
  height: 50px;
  font-size: 20px;
  color: white;
  font-family: 'Roboto Flex', sans-serif;
}

.install-container{
  padding-top: 10%;
  padding-bottom: 10%;
}

.install{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-bottom: 25px;
  width: 450px;
  justify-content: center;
  /* align-items: center; */

}

#install{
  /* color: #5A2A27 */
  color: #FAF2DB;
}

#npm-box{
  padding: 5px;
  display:flex;
  justify-content: center;
  color: rgba(235, 235, 245, .6);
  /* border: 2px solid #5A2A27; */
  border: 2px solid #646cff;
  background-color: #202127;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #646cff;
  
}

.buttons {
  padding-top: 10px

}

.demo-button {
  background-color: #646cff;
  width: 200px;
  line-height: 38px;
  border-radius: 20px;
  border: none;
  color: #fdf9f1;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.demo-button:hover {
  background-color:#fdf9f1;
  color: #646cff;

}

.github-button{
  background-color: #444950;
  width: 100px;
  line-height: 38px;
  border-radius: 20px;
  border: 1px solid #444950;
  color: #fdf9f1;
  font-weight: bold;
  font-size: 14px;
}
.gif-box{
  /* background-color: green; */
}
.sub-info{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10%;
    height: 300px;
    /* background-color: #1b1b1f; */
    gap: 40px;
    padding-bottom: 10%;
}
.blurbBox{
  background-color: #202127;
  /* background-color: var(--reddish-brown); */
  border: 2px solid #202127;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  width: 300px;
  /* height: 175px; */
  height: 25vh;
  padding: 24px;
  margin: 10px;
  overflow: hidden; 
  word-wrap: break-word; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.3);
}
/* #box-1{
  background-color: #202127;
  border: 2px solid #202127;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  width: 300px;
  height: 175px;
  padding: 24px;
  margin: 10px;
  overflow: hidden; 
  word-wrap: break-word; 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.3);

}

#box-2{
  background-color: #202127;
  border: 2px solid #202127;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  width: 300px;
  height: 175px;
  padding: 24px;
  margin: 10px;
  overflow: hidden; 
  word-wrap: break-word; 
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#box-3{
  background-color: #202127;
  border: 2px solid #202127;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  width: 300px;
  height: 175px;
  padding: 24px;
  margin: 10px;
  overflow: hidden; 
  word-wrap: break-word; 
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
} */

.box-title{
  font-size: 16px;
  color: rgba(255, 255, 245, .86);
  font-variant: small-caps;
  margin: auto;
  font-weight: 800;
}

#box-p{
  font-size: 14px;
  color: rgba(235, 235, 245, .6);
}

.box-info {
  color: whitesmoke;
  list-style-type: none;
  margin: 0;
  padding: 0;
}