.info-container {
  background-color: bisque;
}
.main-and-img-info{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: yellow;
  /* gap: 50px; */
}
.main{
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  background-color: aqua;
  padding: 50px;
  min-width: none;-width: 450px;
  width: 450px;
  height: 250px;

}
.bt-main-gif{
flex-grow: 1;
}
.title{

}

.info{

}

.buttons {
gap: 10px

}

.demo-button {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  border: 1px solid red;
  
}

.gif-box{
  background-color: green;
}
.sub-info{
  /* gap:100px; */
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: red;
  /* border: 1px solid black; */
  /* margin:auto; */
}

#box-1{
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
  height: 175px;
}

#box-2{
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
  height: 175px; 
}

#box-3{
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
  height: 175px;
}