:root {
  --background-color: #29292b;
  --old-bg-color: #1b1b1f;
}


.nav-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  width: 100%;
  transition: border-bottom 0.3s ease;

}  

.navBarLinks {
  padding-right: 25px;
  gap: 20px;
}



.navBarLogo img {
  width: 180px;
  height: 40px;
  padding-top: 15px;
  padding-left: 15px;
 
 
}

.navBar.noBorder {
  border-bottom: none; 
}



.versionButton{
  background-color: var(--background-color);
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: #fdf9f1;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.versionButton:hover{
  color: #9499ff; 
}

.githubButton{
  background-color: var(--background-color);
  border: none;
  font-weight:bold;
  font-size: 15px;
  cursor: pointer;
  color: #fdf9f1;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.githubButton:hover{
  color: #9499ff; 
}

.teamButton{
  background-color: var(--background-color);
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: #fdf9f1;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.teamButton:hover{
  color: #9499ff; 
}

.blogButton{
  background-color: var(--background-color);
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  color: #fdf9f1;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.blogButton:hover{
  color: #9499ff; 
}

/* #navLogo {
  margin-left: 3vw;
  margin-top: 3vh;
  width: 20vw;
  height: auto;
} */
