.teamImage {
    width: 150px;  
    height: 150px; 
    object-fit: cover;  
}

.outerContainer {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 650px;
}

/* .outerContainer::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 2%; 
    right: 2%; 
    height: 1px; 
    background-color: #00aaff;
} */

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 8px; /* Adjust this value as needed to control spacing between buttons */
}

.teamCard {
    background-color: #202127;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.circularImageContainer {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid black; 
    overflow: hidden;
    margin-bottom: 10px;
    
}


#team {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* color: #FAF2DB; */
    color: white;
    
    
}

#bundl-team {
    color: white;
    font-size: 34px;
    /* margin-bottom: 10px; */
    
}

.memberName {
    /* color: #FAF2DB; */
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.bttns{
    display: flex;
   
    gap: 25px;
}
#linkedin-button{
    /* border-radius: 4px; */
}