.teamImage {
    width: 150px;  
    height: 150px; 
    object-fit: cover;  
}

.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 8px; /* Adjust this value as needed to control spacing between buttons */
}

.teamCard {
    background-color: #202127;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.circularImageContainer {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #00aaff; 
    overflow: hidden;
    margin-bottom: 10px;
    
}


#team {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: #fdf9f1;
    
    
}

#bundl-team {
    color: #fdf9f1;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.memberName {
    color: #fdf9f1;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.bttns{
    display: flex;
   
    gap: 25px;
}
#linkedin-button{
    /* border-radius: 4px; */
}