.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 100vh;
}

.FieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 100vh;
}

.QueryContainerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 100vh;

}
.ChartContainers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom:50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}

.QueryConstructor {
  display: flex;
flex-direction: row;
justify-content: space-between;
}

.queryBarContainers {
  display: flex;
  flex-direction: row
}