.graphql-query {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: monospace;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-color:#836953

  }

  .query {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 60px;
    gap: 5px;


  }

  .indent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
    gap: 5px;


  }

  .field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    color: white;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .queryButton {
    width: 300px;
    border-radius: 5px;
    background-color: white;
    border: thin solid white;
  }